@font-face
  font-style: normal
  font-weight: normal
  font-family: "JetBrains Mono"
  src: url("../lib/fonts/JetBrainsMono-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-weight: bold
  font-family: "JetBrains Mono"
  src: url("../lib/fonts/JetBrainsMono-Bold.ttf") format("truetype")